/* TODO: Remove this file when getting CSS modules to work */

/*
  This file should be in sync with src/styles/theme/light/root.module.css.
  The goal is to be consistent with the light theme screen captures on Visual Regression Tests.
*/

.light-mode-root {
  /* FONTS */
  /* - families */
  --font-family-heading: "Avenir LT Std 85 Heavy", "Avenir Next", "Segoe UI",
    sans-serif;
  --font-family-body: "Avenir LT Std 45 Book", "Avenir Next", "Segoe UI",
    sans-serif;

  /* - weights */
  --font-weight-medium: 400;
  --font-weight-hard: 700;
  --font-weight-bold: 900;

  /* - line-heights */
  --font-line-height-heading: 1.25;
  --font-line-height-body: 1.625;

  /* - sizes */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;

  /* - colors */
  --font-color-heading: #7350ff;
  --font-color-body: #212240;
  --font-color-button-primary: #fff;

  /* SPACING */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  /* BACKGROUNDS */
  /* - colors */
  --bg-color-body: #fff;
  --bg-color-button-primary: #000;

  /* - images */
  /* --bg-image-body: url("./images/background.png"); */

  /* BORDERS */
  /* - radius */
  --border-radius-input-field: 4px;
  --border-radius-button-primary: 4px;
  --border-radius-button-secondary: 4px;

  /* - combos */
  --border-input-button-primary: 1px solid #fff;
  --border-input-field-primary: 1px solid #cacad1;
  --border-input-field-secondary: 2px solid #dbdbe0;

  /* ELEMENTS */
  --element-separator: 1px solid rgba(33, 34, 64, 0.16);
}
