/* TODO: Update prefix */
.wtf-app {
  height: 100vh;
}

/* TODO: Come up with a better class naming */
.wtf-theme_switch-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing-xs, 8px);
}

.wtf-theme_switch-wrapper .wtf-theme_switch-button {
  opacity: 0;
  transition: 0.3s;
  background: var(--bg-color-button-primary);
  color: var(--font-color-button-primary);
  border: var(--border-input-button-primary, 1px solid transparent);
  border-radius: var(--border-radius-button-primary);
}

.wtf-theme_switch-wrapper:hover .wtf-theme_switch-button {
  opacity: 1;
  cursor: pointer;
}
